$loader--width: 200px;
$loader-dot--size: 15px;

.searchLoading {
	font-family: Helvetica;
	
	&__loader {
		height: $loader-dot--size;
		width: $loader--width;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		
		&--dot {
			animation: loader 3s infinite ease-in-out;
			height: $loader-dot--size; 
			width: $loader-dot--size; 
			border-radius: 100%;
			background-color: black;
			position: absolute;
			
			&:first-child {
				background-color: var(--color-primary);
				animation-delay: 0.5s;
			}

			&:nth-child(2) {
				background-color: var(--color-secondary);
				animation-delay: 0.4s;
			}
			
			&:nth-child(3) {
				background-color:var(--color-quaternary);
				animation-delay: 0.3s;
			}
			
			&:nth-child(4) {
				background-color: var(--color-quinary);
				animation-delay: 0.2s;
			}

			&:nth-child(5) {
				background-color: #60beeb;
				animation-delay: 0.1s;
			}
			
			&:nth-child(6) {
				background-color:  var(--color-primary);
				animation-delay: 0s;
			}
		}

		&--text {
			position: absolute;
    		top: 150%;
    		left: 0;
    		right: 0;
    		width: 4rem;
    		margin: auto;

			 &:after {
				 content: "Loading"; 
				 font-weight: bold;
				 animation: loading-text 3s infinite  
			 }
		}
	}
}  
    
@keyframes loader {
	15% {
		transform: translateX(0)
	}
	
	45% {
		transform: translateX( $loader--width - $loader-dot--size )
	}
 
	65% {
		transform: translateX( $loader--width - $loader-dot--size )
	}
	
	95% {
		transform: translateX(0)
	}
}

@keyframes loading-text {
	0% {
		content: "Loading"
	}
	25% {
		content: "Loading."
	}
  
  	50% {
		content: "Loading.."
  	}
  
  	75% {
		content: "Loading..."
  	}
}
  
  