// Font-Size
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

// *-*-*-*-*-*-*-*-*-*-*-* Colors *-*-*-*-*-*-*-*-*-*-*-*-*

// Light Color Palette (Custom Properties)
.light {
	--color-primary: #2A363B;
	--color-primary-m: #2A363Bd1;
	--color-secondary: #E84A5F;
	--color-secondary-m: #E84A5Fd1;
	--color-quaternary:#99B898;
	--color-quaternary-m:#99B898D1;
	--color-tertiary: #FF847C;
	--color-tertiary-m: #FF847CD1;
	--color-quinary: #FECEA8;
	--color-quinary-m: #FECEA8D1;
	--color-text: #2A363B;
	--color-text2: #fff;
}

// Dark Color Palette (Custom Properties)
.dark {
	--color-primary: #00cbe0;
	// --color-primary-m: #00cbe0c8;
	--color-secondary:#005595;
	// --color-secondary-m:#0035668c;
	--color-tertiary: #002C73;
	// --color-tertiary-m: #003566c4;
	--color-quaternary: #005595;
	// --color-quaternary-m: #539DEA;
	--color-quinary: #001938;
	// --color-quinary-m: #000814;
	--color-text: #fff;
}

// *-*-*-*-*-*-*-*-*-*- Font Size *-*-*-*-*-*-*-*-*-*-*-*-*
$font-sizes: (
	'font-size-small': calc( 8px + .5vw),
	'font-size-regular': calc( 8px + .6vw),
	'font-size-medium': calc(8px + .9vw),
	'font-size-large': calc(1rem + 1vw),
	'font-size-xlarge': calc(1rem + 2vw),
);

@function font-size($font-size-style) {
	@return map-get($font-sizes, $font-size-style) 
};