.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-tertiary);
	height: 10vh;
	width: 100%;
	padding: 1rem;

	&__right {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 1rem;

		&--networks {
			font-size: font-size(font-size-medium);
			text-transform: uppercase;
			letter-spacing: 1.2px;
			color: var(--color-primary);
		}
	}

	&__center {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 0.4;
		@extend %difuminado;

		input {
			background-color: transparent;
			outline: none;
			border: none;
			width: 100%;
			padding: 0.5rem;
			font-size: font-size(font-size-regular);
			color: var(--color-text);
			font-weight: 500;
			letter-spacing: 1.5px;
			border-bottom: 1px solid var(--color-tertiary);
			text-indent: 0.5rem;

			&::placeholder {
				text-align: center;
			}
		}
	}

	&__left {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@extend %difuminado;
		padding: 0.5rem;

		&--avatar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-right: 1rem;

			&__user {
				margin-left: 1rem;
				color: var(--color-primary);
			}
		}
	}

	&__active {
		color: white;
	}
}