.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-secondary);
	height: 10vh;
	width: 100%;
	padding: 1rem;

	&__center {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: .5rem .8rem;
		@extend %difuminado;
	}

	&__left {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@extend %difuminado;
		padding: 0.5rem;

		&--avatar {
			display: flex;
			flex-direction: column;
			align-self: center;
			justify-content: start;
		}
	}


}