.userCard {

	&__profile {
		display: flex;
		align-items: center;

		&--link {
			display: flex;
			padding: 0.4rem .7rem;
			align-items: center;
			margin: .3rem .5rem;
			background-color: var(--color-quaternary-m);
			border-radius: 5px;

			&__avatar {
				margin-left: .3rem;
			}
		
			&__text {
				color: var(--color-primary);
				font-weight: 550;
				padding: 2px;
				
				&--fullname {
					display: block;
				}
		
				&--username {
					display: block;
					color: var(--color-secondary);
				}
			}
		}
	}

}